<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Lato:100,300,400,700,900"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='../static/css/style.css') }}"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />

    <link rel="shortcut icon" type="image/png" href="img/Icon/icon.png" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

    <style>
      html {
        scroll-behavior: smooth;
        scroll-padding-top: 200px;
      }
      /* Dropdown Styles Start */
      .nav-links .dropdown {
        display: inline-block;
      }

      .nav-links .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 175px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
        z-index: 1;
      }

      .nav-links .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
        text-align: left;
      }

      .nav-links .dropdown-content a:hover {
        background-color: #f1f1f1;
      }

      .nav-links .dropdown:hover .dropdown-content {
        display: block;
      }
      /* Dropdown Styles End */
    </style>
    <title>NeuroHeal | Your virtual AI diagnosis doctor</title>
  </head>

  <body>
    <header class="header">
      <nav>
        <a class="logo" href="{{ url_for('home_page') }}">
          <img
            src="{{ url_for('static', filename='../static/logo/New/logo copy.png')}}"
            alt="Logo"
          />
        </a>

        <div class="nav-links" id="navLinks" style="font-family: 'Poppins'">
          <ul>
            <li><a href="{{ url_for('home_page') }}">Home</a></li>
            <li class="dropdown">
              <a href="{{ url_for('models_page') }}" class="dropbtn">Models</a>
              <div class="dropdown-content">
                <a href="{{ url_for('mental_health_page') }}">Mental Health</a>
                <a href="{{ url_for('skin_cancer_page') }}">Skin Cancer</a>
                <a href="{{ url_for('skin_diseases_page') }}">Skin Diseases</a>
              </div>
            </li>
            <li><a href="{{ url_for('NeuroBot') }}">NeuroBot</a></li>
            <li><a href="{{ url_for('blog_page') }}">Blog</a></li>
            <li><a href="{{ url_for('about_page') }}">About</a></li>
            <li><a href="{{ url_for('contact_page') }}">Contact</a></li>
          </ul>
        </div>
      </nav>

      <div class="header__text-box">
        <h1 class="heading-primary">
          <div class="wrapper">
            <svg class="heading-primary--main">
              <text
                x="50%"
                y="50%"
                dy=".35em"
                text-anchor="middle"
                class="heading-primary--main-text"
              >
                NeuroHeal
              </text>
            </svg>
          </div>

          <span class="heading-primary--sub"
            >Your virtual AI diagnosis doctor</span
          >
        </h1>
        <a href="#cat" class="btn btn--white btn--animated">START NOW</a>
      </div>
    </header>
    <main>
      <section class="section-about">
        <div class="u-center-text u-margin-bottom-big">
          <h2 class="heading-secondary">Your AI doctor</h2>
        </div>
        <div class="row">
          <div class="col1">
            <h3 class="heading-tertiary u-margin-bottom-small">
              Your AI doctor
            </h3>
            <p class="paragraph">
              write here a paragraph about our project that contains all the
              information about it
            </p>

            <h3 class="heading-tertiary u-margin-bottom-small">
              it's free to use
            </h3>
            <p class="paragraph">
              write here a paragraph about our project that contains all the
              information about it
            </p>
          </div>

          <div class="col1">
            <div class="composition">
              <img
                src="{{ url_for('static', filename='../static/img/about-photos/photo2.jpg')}}"
                alt="photo1"
                class="composition__photo composition__photo--p1"
              />
              <img
                src="{{ url_for('static', filename='../static/img/about-photos/photo3.jpg')}}"
                alt="photo2"
                class="composition__photo composition__photo--p2"
              />
              <img
                src="{{ url_for('static', filename='../static/img/about-photos/photo4.jpg')}}"
                alt="photo3"
                class="composition__photo composition__photo--p3"
              />
            </div>
          </div>
        </div>
      </section>

      <section id="cat" class="section-feature-scroller">
        <div class="rotatingText-content heading-primary--main-text">
          <h2 class="rotatingText-adjective">Check</h2>
          <h2 class="rotatingText-adjective">Our</h2>
          <h2 class="rotatingText-adjective">Categories</h2>
        </div>

        <div class="teaser-outer">
          <div class="teaser" style="margin-top: 20rem">
            <ul>
              <li>
                <figure>
                  <a href="{{ url_for('knee_osteoporosis_page') }}">
                    <img
                      alt="Knee_osteoporosis"
                      src="{{ url_for('static', filename='../static/Scroll-up/Osteoporosis.png')}}"
                      style="width: 7rem; height: 7rem"
                    />
                  </a>
                  <figcaption>
                    <h3>
                      Knee <br />
                      Osteoporosis
                    </h3>
                  </figcaption>
                </figure>
              </li>
              <li>
                <figure>
                  <a href="{{ url_for('coming_soon_page') }}">
                    <img
                      alt="Brain"
                      src="{{ url_for('static', filename='../static/Scroll-up/brain.png')}}"
                      style="width: 7rem; height: 7rem"
                    />
                  </a>
                  <figcaption>
                    <h3>Brain</h3>
                  </figcaption>
                </figure>
              </li>
              <li>
                <figure>
                  <a href="{{ url_for('coming_soon_page') }}">
                    <img
                      alt="Broken bone"
                      src="{{ url_for('static', filename='../static/Scroll-up/broken-bone.png')}}"
                      style="width: 7rem; height: 7rem"
                    />
                  </a>
                  <figcaption>
                    <h3>Broken bone</h3>
                  </figcaption>
                </figure>
              </li>
              <li>
                <figure>
                  <a href="{{ url_for('coming_soon_page') }}">
                    <img
                      alt="covid"
                      src="{{ url_for('static', filename='../static/Scroll-up/covid.png')}}"
                      style="width: 7rem; height: 7rem"
                    />
                  </a>
                  <figcaption>
                    <h3>covid</h3>
                  </figcaption>
                </figure>
              </li>
              <li>
                <figure>
                  <a href="{{ url_for('coming_soon_page') }}">
                    <img
                      alt="Heart"
                      src="{{ url_for('static', filename='../static/Scroll-up/heart.png')}}"
                      style="width: 7rem; height: 7rem"
                    />
                  </a>
                  <figcaption>
                    <h3>Heart</h3>
                  </figcaption>
                </figure>
              </li>
              <li>
                <figure>
                  <a href="{{ url_for('coming_soon_page') }}">
                    <img
                      alt="Joint"
                      src="{{ url_for('static', filename='../static/Scroll-up/joint.png')}}"
                      style="width: 7rem; height: 7rem"
                    />
                  </a>
                  <figcaption>
                    <h3>Joint</h3>
                  </figcaption>
                </figure>
              </li>
              <li>
                <figure>
                  <a href="{{ url_for('coming_soon_page') }}">
                    <img
                      alt="pelvis"
                      src="{{ url_for('static', filename='../static/Scroll-up/pelvis.png')}}"
                      style="width: 7rem; height: 7rem"
                    />
                  </a>
                  <figcaption>
                    <h3>pelvis</h3>
                  </figcaption>
                </figure>
              </li>
            </ul>
          </div>
        </div>
      </section>

      <section id="experts">
        <h1>Community Experts</h1>
        <p>Replenish man have thing gathering lights yielding shall you</p>

        <div class="expert-box">
          <div class="profile">
            <img
              src="{{ url_for('static', filename='../static/creators/DR_Amany.png')}}"
              alt=""
            />
            <h6>Prof. Dr. Amany</h6>
            <p>Supervisor</p>
            <div class="pro-links">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-linkedin-in"></i>
            </div>
          </div>

          <div class="profile">
            <img
              src="{{ url_for('static', filename='../static/creators/mousa1.png')}}"
              alt=""
            />
            <h6>Mohamed Mousa</h6>
            <p>Team Leader</p>
            <div class="pro-links">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-linkedin-in"></i>
            </div>
          </div>

          <div class="profile">
            <img
              src="{{ url_for('static', filename='../static/creators/Shady.png')}}"
              alt=""
            />
            <h6>Shady Yasser</h6>
            <p>Machine Learning Engineer</p>
            <div class="pro-links">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-linkedin-in"></i>
            </div>
          </div>
          <div class="profile">
            <img
              src="{{ url_for('static', filename='../static/creators/kandil.png')}}"
              alt=""
            />
            <h6>Ahmed Kandil</h6>
            <p>Data Scientist</p>
            <div class="pro-links">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-linkedin-in"></i>
            </div>
          </div>
        </div>

        <div class="expert-box">
          <div class="profile">
            <img
              src="{{ url_for('static', filename='../static/creators/Sbdo.png')}}"
              alt=""
            />
            <h6>Abdulrahman Gamal</h6>
            <p>Computer Vision Engineer</p>
            <div class="pro-links">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-linkedin-in"></i>
            </div>
          </div>

          <div class="profile">
            <img
              src="{{ url_for('static', filename='../static/creators/kareem.png')}}"
              alt=""
            />
            <h6>Kareem Goda</h6>
            <p>Computer Vision Engineer</p>
            <div class="pro-links">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-linkedin-in"></i>
            </div>
          </div>

          <div class="profile">
            <img
              src="{{ url_for('static', filename='../static/creators/anther.png')}}"
              alt=""
            />
            <h6>Ghada AlKady</h6>
            <p>Full Stack Developer</p>
            <div class="pro-links">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-linkedin-in"></i>
            </div>
          </div>

          <div class="profile">
            <img
              src="{{ url_for('static', filename='../static/creators/anther.png')}}"
              alt=""
            />
            <h6>Esraa Moustafa</h6>
            <p>Design Expert</p>
            <div class="pro-links">
              <i class="fab fa-facebook"></i>
              <i class="fab fa-instagram"></i>
              <i class="fab fa-linkedin-in"></i>
            </div>
          </div>
        </div>
      </section>

      <footer>
        <div class="footer-col">
          <h3>Top Models</h3>
          <li>
            <a href="{{ url_for('knee_osteoporosis_page') }}"
              >Knee Osteoporosis</a
            >
          </li>
        </div>

        <div class="footer-col">
          <h3>Chatbots</h3>
          <li><a href="{{ url_for('NeuroBot') }}">NeuroBot</a></li>
        </div>

        <div class="footer-col">
          <h3>Our Research papers</h3>
          <li>
            <a href="{{ url_for('knee_osteoporosis_page') }}"
              >Knee Osteoporosis</a
            >
          </li>
        </div>

        <div class="footer-col">
          <h3>More</h3>
          <li><a href="{{ url_for('blog_page') }}">Blog</a></li>
          <li><a href="{{ url_for('about_page') }}">About US</a></li>
          <li><a href="{{ url_for('contact_page') }}">Contact</a></li>
        </div>

        <div class="footer-col">
          <h3>Download our APP</h3>
          <li><a href="{{ url_for('coming_soon_page') }}">Windows</a></li>
          <li><a href="{{ url_for('coming_soon_page') }}">Linux</a></li>
          <li><a href="{{ url_for('coming_soon_page') }}">Mac</a></li>
          <li><a href="{{ url_for('coming_soon_page') }}">Android</a></li>
          <li><a href="{{ url_for('coming_soon_page') }}">IOS</a></li>
        </div>

        <div class="copyright">
          <p>Copyright @2024 All rights reserved</p>
          <div class="pro-links">
            <i class="fab fa-facebook"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin-in"></i>
          </div>
        </div>
      </footer>
    </main>
  </body>
</html>
